.container {
	max-width: $mobile-w;
	background-color: $v-dark-blue-card-bg;
	padding: 1.5em;
	border-radius: 1em;
}
//top
.top {
	position: relative;
}
.top img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;

	@include ease();
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	@include ease();
	background-color: $cyan;
	cursor: pointer;
	border-radius: 10px;
}

.top:hover .overlay {
	opacity: 0.6;
}

.icon {
	opacity: 1;
	width: 50px;
}

.icon-bg {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.title {
	color: $white;
	font-size: 1.9rem;
	font-weight: $regular;
	display: inline-block;
	margin-bottom: 0px;
}

.title:hover,
a:hover {
	@include link-hover;
	transition: $ease;
}

a {
	@include link-styles;
}

a:visited {
	@include link-visited;
}

.bottom p {
	font-size: 1.35em;
}

.info,
.info-item {
	@include flex();
}

.info {
	border-bottom: solid 0.5px $v-dark-blue-line;
}

.info-item p {
	vertical-align: middle;
}

.info img {
	max-width: 25px;
	max-height: max-content;
	width: 100%;
	position: relative;
	top: 0px;
	left: 5px;
}

.info p {
	margin: 0 0 20px 0;
	font-size: 1.1em;
	padding: 20px 0 0 20px;
	flex-wrap: nowrap;
	flex-shrink: 0; //learned this!
}

.eth-amount {
	color: $cyan;
	font-weight: $regular;
}

.avatar {
	@include flex(); //getting more comfortable with this
	justify-content: start;
}

.avatar img {
	max-width: 40px;
	width: 100%;
	margin: 1em 1em 1em 0;
	border: solid 0.5px $white;
	border-radius: 30px;
}

.avatar p {
	font-size: 1em;
}

.avatar p,
.avatar img {
	margin-bottom: 0;
}

.avatar a:hover,
a:hover {
	@include link-hover;
	transition: $ease;
}

/*============
    DESKTOP
==============*/
@media screen and (min-width: 500px) {
	.container {
		max-width: 380px;
	}
}
