@import 'variables';
@import 'mixins';
@import 'card';

body {
	background-color: $v-dark-blue-main-bg;
	color: $soft-blue;
	height: 100vh;
	@include basic-reset();
	@include flex-center();
	font-size: $p-size;
	font-family: $family;
	font-weight: $lite;
	line-height: 2em;
  
}

.attribution {
	display: none;
}
